.timer-grid {
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  grid-template-rows: 0.2fr 1.8fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "timer submit"
    "test test";
  height: 100%;
}

.test {
  grid-area: test;
  overflow-y: scroll;
}

.timer {
  grid-area: timer;
  flex-direction: column;
}

.timer p,
.timer h3 {
  margin: 0px;
}

.submit {
  grid-area: submit;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin: 0px;
}

.timer,
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
