.main {
  height: 100vh;
  width: 100vw;
  padding: 20px;
}
.userface {
  display: flex;

  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.userface {
  flex-grow: 1;
}
.box,
.big.box {
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.4);
}
.box {
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 13px;
  padding: 10px;
  background-color: var(--background-color) !important;
  border: 1px solid var(--box-border-color) !important;
  color: var(--foreground-color);
}
* {
  max-width: 100vw;
  box-sizing: border-box; /* Ensures padding doesn't break the width */
  overflow-wrap: break-word; /* Wraps long content */
}
.big.box {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--background-color) !important;
  border: 1px solid var(--box-border-color) !important;
  color: var(--foreground-color);
  margin: 0px;
}
body {
  min-height: 100vh;
  margin: 0px;
}
