.timer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.8fr 0.2fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "test test"
    "timer submit";
  height: 100%;
}

.test {
  grid-area: test;
  overflow-y: scroll;
}

.timer {
  grid-area: timer;
  flex-direction: column;
}
.timer p,
.timer h3 {
  margin: 0px;
}
.submit {
  grid-area: submit;
}

.timer,
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}
